In [5]:
'''
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True
'''
def is_symmetrical(num):
    strnum=str(num)
    reverse=strnum[::-1]
    if strnum==reverse:
        return True
    else:
        return False
is_symmetrical(7227)
is_symmetrical(12567)
is_symmetrical(44444444)
is_symmetrical(9939)
is_symmetrical(1112111)

True

In [13]:
'''
Given a string of numbers separated by a comma and space, return the product of the 
numbers. 
Examples 
multiply_nums("2, 3") ➞ 6 
multiply_nums("1, 2, 3, 4") ➞ 24 
multiply_nums("54, 75, 453, 0") ➞ 0 
multiply_nums("10, -2") ➞ -20 
'''
def multiply_nums(stri):
    list1=stri.split(',')
    mult=1
    for i in list1:
        mult*=int(i)
    return mult
    #print(list1)
multiply_nums("2, 3") 
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0")
multiply_nums("10, -2")

-20

In [18]:
'''
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.
'''
def square_digits(num):
    strnum=str(num)
    strr=''
    for i in strnum:
        j=int(i)**2
        strr+=str(j)
    return int(strr)
square_digits(9119)
square_digits(2483)
square_digits(3212)

9414

In [23]:
'''
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]
'''
def setify(list1):
    set1=set(list1)
    return list(set1)
setify([1, 3, 3, 5, 5])
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [27]:
'''
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.
'''
def mean(num):
    strnum=str(num)
    sum=0
    length=len(strnum)
    for i in strnum:
        sum+=int(i)
    return int(sum/length)
mean(42)
mean(12345)
mean(666)

6