In [3]:
'''
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.
Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]
filter_list(["Nothing", "here"]) ➞ []
'''
def filter_list(list1):
    list2=[]
    for i in list1:
        if type(i)==int:
            list2.append(i)
    return list2
print(filter_list([1,2,3,"a","b",4]))
print(filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]))
print(filter_list(["Nothing", "here"]))

[1, 2, 3, 4]
[0, 1729]
[]

In [6]:
'''
Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]
'''
def add_indexes(list1):
    list2=[]
    for i in range(0,len(list1)):
        sum=0
        sum=i+list1[i]
        list2.append(sum)
    return list2
print(add_indexes([0,0,0,0,0]))
print(add_indexes([1, 2, 3, 4, 5]))
print(add_indexes([5, 4, 3, 2, 1]))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]
[5, 5, 5, 5, 5]

In [10]:
'''
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0
'''
#vol=(pi*r**2*h)/3
def cone_volume(h,r):
    vol=((22/7)*(r**2)*h)/3
    vol=round(vol,2)
    return vol
print(cone_volume(3,2))
print(cone_volume(15, 6))
print(cone_volume(18, 0))

12.57
565.71
0.0

In [16]:
'''
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220
'''
def triangle(n):
    no=(n*(n+1))/2
    return int(no)
print(triangle(1))
print(triangle(6))
print(triangle(215))

1
21
23220

In [33]:
'''
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7
'''
def missing_num(list1):
    list1.sort()
    print(list1)
    count=1
    for i in range(0,len(list1)):
        if count!=list1[i]:
            return count
        count+=1
    return 10
print(missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]))
print(missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]))
print(missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]))

[1, 2, 3, 4, 6, 7, 8, 9, 10]
5
[1, 2, 3, 4, 5, 6, 7, 8, 9]
10
[1, 2, 3, 4, 5, 6, 8, 9, 10]
7