In [4]:
'''
Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.
'''
test1='This is a test of the emergency test system'
f=open('test.txt','w')
f.write(test1)
f.close()

In [11]:
'''
Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?
'''
f=open('test.txt','r')
test2=f.read()
print(test2)
#print(type(test2))
f.close()
#There is no difference between test1 and test2.

This is a test of the emergency test system

In [14]:
'''
Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
import csv
header=['title','author','year']
data=[
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
#f=open('books.csv','w')
with open('books.csv','w',encoding='UTF8',newline='') as f:
    writer=csv.writer(f)
    writer.writerow(header)
    writer.writerows(data)

In [10]:
'''
Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).
'''
import sqlite3
db=sqlite3.connect('books.db')
db.execute("DROP TABLE BOOKS")
cursor=db.cursor()
create_table='''CREATE TABLE BOOKS 
             (TITLE TEXT NOT NULL,
             AUTHOR TEXT NOT NULL,
             YEAR INT NOT NULL);'''
cursor.execute(create_table)

In [11]:
'''
Read books.csv and insert its data into the book table.
'''
import csv
f=open('books.csv')
data=csv.reader(f)
insert="INSERT INTO BOOKS (TITLE, AUTHOR, YEAR) VALUES(?,?,?)"
cursor.executemany(insert,data)
select_all="SELECT * FROM BOOKS"
rows=cursor.execute(select_all).fetchall()
for r in rows:
    print(r)
#db.commit()
#db.close()

('title', 'author', 'year')
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [13]:
'''
Select and print the title column from the book table in alphabetical order.
'''
cursor.execute("SELECT TITLE FROM BOOKS ORDER BY TITLE")
result=cursor.fetchall()
for x in result:
    print(x)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)
('title',)

In [19]:
'''
From the book table, select and print all columns in the order of publication.
'''
cursor.execute("SELECT * FROM BOOKS ORDER BY YEAR")
result=cursor.fetchall()
for x in result:
    print(x)
db.commit()
db.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('title', 'author', 'year')

In [16]:
'''
Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.
'''
import sqlalchemy
engine=sqlalchemy.create_engine(f'sqlite:///books.db')

In [21]:
'''
Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.
'''
!pip install redis

Collecting redis
  Downloading redis-4.4.0-py3-none-any.whl (236 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 236.4/236.4 kB 20.3 MB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.4.0