<a href="https://colab.research.google.com/github/kaur9151/Assignment1_python/blob/main/programming_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to convert kilometers to miles?
2. Write a Python program to convert Celsius to Fahrenheit?
3. Write a Python program to display calendar?
4. Write a Python program to solve quadratic equation?
5. Write a Python program to swap two variables without temp variable?

In [1]:
km=float(input("Enter your kilometers: "))
miles=0.6214*km
print(f"You entered {miles} miles")

Enter your kilometers: 2
You entered 1.2428 miles

In [2]:
celsius=float(input("Enter Celsius value: "))
fahr=(celsius*9/5)+32
print(f"Fahrenheit value is {fahr}")

Enter Celsius value: 45
Fahrenheit value is 113.0

In [4]:
import calendar
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [22]:
print("Lets assume your quadratic equation is: ax2+bx+c=0")
a=float(input("Enter value of a: "))
b=float(input("Enter value of b: "))
c=float(input("Enter value of c: "))
print(f"your equation is {a}x2 +{b}x +{c}")
D=(b**2)-4*a*c
if D>=0:
  D=D**1/2
  e=-b+D
  e1=-b-D
  A=2*a
  d1=e/A
  d2=e1/A
  print(f"First value of x={d1} and second value of x={d2}")
else:
  print(f"D is negative {D} therefore, complex roots of the equation.")

Lets assume your quadratic equation is: ax2+bx+c=0
Enter value of a: 1
Enter value of b: 1
Enter value of c: 1
your equation is 1.0x2 +1.0x +1.0
D is negative -3.0 therefore, complex roots of the equation

In [24]:
a=input("Enter anything: ")
b=input("Enter anything: ")
a,b=b,a
print(f"Value of a: {a}, Value of b: {b}")

Enter anything: rt
Enter anything: yu
Value of a: yu, Value of b: rt